<style>
    .scroll {
    max-height: 200px;
    overflow-y: auto;
}
    .scroll2 {
    max-height: 800px;
    overflow-y: auto;
}
    .container2 {
    max-width: auto;
    overflow-y: auto;
}
.scroll {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.card{background-color: rgb(100, 100, 100);}

</style>
<div class="container text-center">
    <div class="container2 row text-center scroll2 mb-3">
        {% for record in data %}
        <a href="{{ record.url }}" class="card mr-5 mb-2" style="width: 20rem;">
            <div class="card-body bg-dark">

                <img src="{{ record.image }}" class="img-thumbnail border border-dark rounded mb-1">

                <h5 class="btn btn-outline-light card-title mb-3 font-weight-bold">{{ record.title }}</h5>
                {% if record.description %}
                <h6 class="text-white bg-dark card-subtitle mb-2  border border-dark rounded">{{ record.description
                    }}</h6>
                {% endif %}
                {% if record.duration %}
                <h6 class="text-white bg-dark card-subtitle mb-2  border border-dark rounded">{{ record.duration
                    }}</h6>
                {% endif %}
                <h3>
                    <div class="badge badge-pill badge-success fixed-bottom">חינם</div>
                </h3>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
