<style>
    .center {
  margin: auto;
}

</style>

<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark shadow-lg p-3 bg-dark py-md-0">
    <div class="btn-group btn-group-toggle center" data-toggle="buttons">
        <a href="https://www.facebook.com/SlavaBugzBunny" class="btn btn btn-dark btn-sm" role="button"
           aria-pressed="true">
            <i class="fab fa-facebook-square fa-2x"></i><br>
        </a>
        <a href="https://www.linkedin.com/in/vyachislav-lisitzin" class="btn btn btn-dark btn-sm" role="button"
           aria-pressed="true">
            <i class="fab fa-linkedin fa-2x"></i><br>
        </a>
        <a href="https://github.com/BugzTheBunny/FreeScrapApp" class="btn btn btn-dark btn-sm" role="button"
           aria-pressed="true">
            <i class="fab fa-github-square fa-2x"></i><br>
        </a>
        <a href="about" class="btn btn btn-dark btn-sm" role="button" aria-pressed="true">
            <i class="fas fa-question-circle fa-2x"></i>
        </a>
    </div>
</nav>