<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark ">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <a href="https://www.facebook.com/SlavaBugzBunny" class="btn btn btn-dark btn-sm" role="button"
           aria-pressed="true">
            <i class="fab fa-facebook-square fa-2x"></i><br>
        </a>
        <a href="https://www.linkedin.com/in/vyachislav-lisitzin" class="btn btn btn-dark btn-sm" role="button"
           aria-pressed="true">
            <i class="fab fa-linkedin fa-2x"></i><br>
        </a>
        <a href="https://github.com/BugzTheBunny" class="btn btn btn-dark btn-sm" role="button" aria-pressed="true">
            <i class="fab fa-github-square fa-2x"></i><br>
        </a>
        <a href="http://bugzthebunny.pythonanywhere.com/" class="btn btn btn-dark btn-sm" role="button"
           aria-pressed="true">
            <i class="fas fa-grin-stars fa-2x">Portfolio</i><br>
        </a>
    </div>
</nav>