<style>
.scroll {
    max-height: 850px;
    overflow-y: auto;
}
.top-left {
  opacity: 0.9;
  position: absolute;
  top: 5px;
  left: 10px;
}

.scroll {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}





</style>
<div class="container scroll">
    {% for record in data %}
    <!--LinkedIn-->
    {% if record.source == 'LinkedIn' %}
    <div class="shadow-sm p-3 rounded text-center">
        <a href="{{ record.url }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <h4><span class="turn top-left badge badge-info border border-light rounded">{{ record.source }}</span>
            </h4>
            <h5 class="mb-1 text-center">{{ record.title }}</h5>
            <small class="text-muted badge-light border border-light rounded">{{ record.date }} || {{ record.location
                }}</small>
            {% if record.description %}
            <hr class="my-40 bg-secondary">
            <div class="container rounded">
                <p class="mb-1">{{ record.description }}</p>
            </div>
            {% endif %}
        </a>
    </div>
    {% endif%}
    <!--MPLOY-->
    {% if record.source == 'MPloy' %}
    <div class="shadow-sm p-3 rounded text-center">
        <a href="{{ record.url }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <h4><span class="turn top-left badge badge-success border border-light rounded">{{ record.source }}</span>
            </h4>
            <h5 class="mb-1 text-center">{{ record.title }}</h5>
            <small class="text-muted badge-light border border-light rounded">{{ record.date }} || {{ record.location
                }}</small>
            {% if record.description %}
            <hr class="my-40 bg-secondary">
            <div class="container rounded">
                <p class="mb-1">{{ record.description }}</p>
            </div>
            {% endif %}
        </a>
    </div>
    {% endif%}
    <!--Ness-->
    {% if record.source == 'Ness' %}
    <div class="shadow-sm p-3 rounded text-center">
        <a href="{{ record.url }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <h4><span class="turn top-left badge badge-primary border border-light rounded">{{ record.source }}</span>
            </h4>
            <h5 class="mb-1 text-center">{{ record.title }}</h5>
            <small class="text-muted badge-light border border-light rounded">{{ record.date }} || {{ record.location
                }}</small>
            {% if record.description %}
            <hr class="my-40 bg-secondary">
            <div class="container rounded">
                <p class="mb-1">{{ record.description }}</p>
            </div>
            {% endif %}
        </a>
    </div>
    {% endif%}
    {% endfor %}
</div>

