<style>
    .scroll {
    max-height: 200px;
    overflow-y: auto;
}
    .scroll2 {
    max-height: 735px;
    overflow-y: auto;
}
    .container2 {
    max-width: auto;
    overflow-y: auto;
}
.scroll {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.card{background-color: rgb(100, 100, 100);}

</style>
<div class="container text-center" dir="rtl">
    <!-- Form -->
    <form class="container form-line text-center" method="post">
        <div class="mb-4">
            <label for="query_to_search" class="form-label text-center"><h2><span
                    class="badge bg-primary btn-outline-dark">!Latest {{ title }} Courses</span></h2></label>
            <input type="text" class="form-control text-center" id="query_to_search" name="query_to_search"
                   placeholder="𝙄𝙣𝙥𝙪𝙩 𝙮𝙤𝙪𝙧 𝙙𝙚𝙨𝙞𝙧𝙚𝙙 𝙨𝙩𝙪𝙙𝙮 𝙨𝙪𝙗𝙟𝙚𝙘𝙩">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Get the list of courses</button>
        </div>
    </form>
    <div class="container2 row text-center scroll2">
        {% for record in data %}
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <img src="{{ record.image }}" class="img-thumbnail border border-dark rounded">
                <h5 class="alert alert-dark card-title"><a href="{{ record.url }}">{{ record.title }}</a></h5>
                {% if record.description %}
                <h6 class="text-white bg-dark card-subtitle mb-2  border border-dark rounded">{{ record.description
                    }}</h6>
                {% endif %}
                {% if record.duration %}
                <h6 class="text-white bg-dark card-subtitle mb-2  border border-dark rounded">{{ record.duration }}</h6>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
